body {
    background-color: #aeb2b2;
}
.header {
    display: inline-block;
    margin-bottom: .5rem;
    color: #212529;
    font-size: 2.5rem;
    font-weight: 900;
}

.card {
    background-color: #1e2a36;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
    border: 1.2px solid #cab061;
}


.userInfo {
    color: #f0f3f1;
    align-self: center;
}

label {
    display: inline-block;
}

.h1, h1 {
    FONT-WEIGHT: bold;
    font-size: 4rem;
}

.text-white {
    color: #8b6d0d !important;
}

.card-deck {
    margin-right: 15px;
    margin-left: 15px;
}

.h4, h4 {
    font-size: 1.5rem;
    align-self: center;
}

.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 0 0 17%;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.navbar {
    height: 100px;
    background: #e9be3d;
    border-bottom: 3px solid #212529;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
}

#userGames {
    padding-left: 60px;
    padding-top: 40px;
}

.userTitle {
    /* background-color: blue; */
    color: rgba(0,0,0,.8);
    text-align: center;
    margin: 10px;
    border: 2px solid #e5c76f;
    box-shadow: 0 0 7px 0 #e5c76f;
    border-radius: 9px;
    background: #e5c76f;
}

.card:hover {
    -ms-transform: scale(1.20); /* IE 9 */
    -webkit-transform: scale(1.20); /* Safari 3-8 */
    transform: scale(1.20);
}