.hand {
    position: absolute;
    left: 17%;
    height: 19.97%;
    margin-bottom: 20px;
    bottom: 0;
}

.hand:before,
.hand:after {
    content: "";
    display: table;
}

.hand:after {
    clear: both;
}

.hand {
    zoom: 1;
}


