.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.midTable {
    position: absolute;
    width: 56.25%;
    height: 63.1%;
    margin-top: 5%;
    margin-bottom: auto;
}

.card1 {
    position: relative;
    float: left;
    left: 32.4%;
    top: 45%;
}

.label1 {
    position: absolute;
    float: left;
    top: 50%;
}

.card2 {
    position: absolute;
    top: 16.67%;
    left: 42%;
}

.label2 {
    position: absolute;
    left: 45%;
    top: 5%;
}
.card3 {
    position: relative;
    float: right;
    right: 37.04%;
    top: 45%;
}

.label3 {
    position: absolute;
    float: right;
    top: 50%;
}

.card4 {
    position: absolute;
    left: 42%;
    bottom: 0;
}

.label4 {
    position: absolute;
    left: 20%;
    bottom: 0;
}
.container > .btn-group-horizontal {
    position: relative;
    background-color: black;
    padding: 2%;
    top: 50%;
    width: auto;
    z-index: 10;
    height: 15.78%;
    border-radius: 10px;
}

.btn-group-horizontal button {
    padding: 2px;
    height: 40%;
    min-width: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0;
    margin-top: 10%;
}

.btn-group-horizontal button:hover {
    cursor: pointer;
}

.CLUBS:before {
    content: '♣';
}

.DIAMONDS:before {
    content: "♦";
    color: #ff0000;
}

.SPADES:before {
    content: "♠";
}

.HEARTS:before {
    content: "♥";
    color: #ff0000;
}

.NO_COLOR:before {
    content: 'J';
}

.joker-first-wrapper {
    margin-top: 40%;
    width: auto;
    z-index: 10;
    height: 15.78%;
    border-radius: 10px;
    background-color: black;
}

.joker-first {
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
}


.joker-first-labels {
    height: 20%;
}

#high-card button, #low-card button {
    margin-top: 5%;
}

#high-card, #low-card {
    margin-top: 5%;
    padding: 10px;
}

#low-card {
    margin-left: 20px;
}

#label-high, #label-low {
    color: white;
    padding: 5px;
}

#label-high {
    margin-left: 17%;
}

#label-low {
    margin-left: 36%;
}

