.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.midTable {
    position: absolute;
    width: 56.25%;
    height: 63.1%;
    margin-top: 5%;
    margin-bottom: auto;
}

.card1 {
    position: relative;
    float: left;
    left: 32.4%;
    top: 45%;
}

.card2 {
    position: absolute;
    top: 16.67%;
    left: 42%;
}

.card3 {
    position: relative;
    float: right;
    right: 37.04%;
    top: 45%;
}

.card4 {
    position: absolute;
    left: 42%;
    bottom: 0;
}

.btn-group-horizontal {
    position: relative;
    background-color: black;
    padding: 2%;
    top: 50%;
    width: auto;
    z-index: 10;
    height: 15.78%;
    border-radius: 10px;
}

.btn-group-horizontal button {
    padding: 2px;
    height: 40%;
    min-width: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0;
    margin-top: 10%;
}

.btn-group-horizontal button:hover {
    cursor: pointer;
}

.club:before {
    content: '♣';
}

.diamond:before {
    content: "♦";
    color: #ff0000;
}

.spade:before {
    content: '♣';
}

.spade:before {
    content: "♠";
}

.heart:before {
    content: "♥";
    color: #ff0000;
}

.no_color:before {
    content: 'J';
}
