.container{
    height: 100%;
    align-content: center;
}
.midTable{
    position: relative;
    width: 1080px;
    height: 600px;
    margin-top: 130px;
    margin-bottom: auto;
}

.card1{
    position: relative;
    float: left;
    margin-left: 5px;
    top: 45%;
}

.card2{
    position: absolute;
    left: 45%;
}

.card3{
    position: relative;
    float: right;
    top: 45%;
}

.card4{
    position: absolute;
    left: 45%;
    bottom: 0;
}