.player1{
    position: relative;
    top: 45%;
    width: 100%;
    float: left;
    margin-left: 20px;
}

.player2{
    position: absolute;
    right: 48.5%;
    margin-top: 20px;
}

.player3{
    position: relative;
    top: 45%;
    float: right;
    width: 100%;
    margin-right: 20px;
}

.player4{
    position: absolute;
    left: 10%;
    bottom: 0;
    margin-bottom: 20px;
}


div[class*='player'] {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:100px;
    height:100px;
    line-height: 100px;
    text-align:center;
    border-radius:50%;
    background: darkslategrey;
    vertical-align:middle;
    margin-right:1em;
    color:white;
}
