table {
    position: absolute;
    top: 1.05%;
    left: 0.52%;
    height: 10em;
    width: 30%;
    table-layout: fixed;
    display: flex;
    flex-flow: column;
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    color: white;
    flex: 0 0 auto;
    width: 99%;
}

.red {
    color: red;
}

.green {
    color: green;
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    color: white;
    width: 99%;
}

table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}


td, th{
    text-align: left;
}
th{
    text-align: center;
    padding:  2px;
}
tr :nth-child(odd){
    width: 2px;
}

tr :nth-child(even){
    width: 10px;
}
